* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
}

#container {
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.reminder, input, #answer, #rules {
    border : blue 2px solid;
}

#rightDiv{
    width: 49%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#rules{
    width: 100%;
    height: 44%;
    padding: 2%;
    font-size: 2rem;
}

#interact {
    width: 98%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#interactLeft{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#interactRight{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.reminder{
    width: 49%;
    height: 75%;
    padding: 0.5rem;
    font-size: 3rem;
    text-align: center;
}

#answer {
    width: 100%;
    height: 50%;
    align-self: flex-end;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

label, input, button {
    height: 50%;
    text-align: center;
}

label{
    align-self: center;
    font-size: 1.5rem;
}

#restart {
    display: none;
}

@media screen and (max-width: 550px) {
    #rules{
        font-size: 1.5rem;
    }

    p{
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px) {
    #container{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
    }

    #rightDiv{
        width: 100%;
        height: 30%;
    }

    .reminder{
        width: 100%;
        height: 50%;
        border-bottom: 0.2rem ;
    }

    #interact{
        flex-direction: column;
    }

    #interactLeft{
        order: 10;
        width: 100%;
        height: 50%;
    }

    #interactRight{
        width: 100%;
        height: 50%;
    }
    #rules, #answer {
        border: none;
    }
    #rightDiv{
        border : blue 2px solid;
    }
}